<ul class="list-group">
  <li class="list-group-item list-group-item-action"><strong>User ID:</strong> {{user.id}}</li>
  <li class="list-group-item list-group-item-action"><strong>Username:</strong> {{user.username}}</li>
  <li class="list-group-item list-group-item-action"><strong>Email:</strong> {{user.email}}</li>
  <li class="list-group-item list-group-item-action"><strong>JWToken:</strong> {{user.jwttoken}}</li>
</ul>