<div class="home-group">
  <h1>Express-Starter App</h1>
  <p>This application comes bundled with: </p>
</div>
<ul class="list-group">
  <li class="list-group-item list-group-item-action">Passport local authentication</li>
  <li class="list-group-item list-group-item-action">Passport OAuth authentication (Facebook, Twitter, Google)</li>
  <li class="list-group-item list-group-item-action">Flash messages</li>
  <li class="list-group-item list-group-item-action">PostgreSQL integration with Session Storage</li>
  <li class="list-group-item list-group-item-action">MongoDB integration with Session Storage</li>
  <li class="list-group-item list-group-item-action">Models-Views-Controller design pattern</li>
  <li class="list-group-item list-group-item-action">Form validation with expressValidator</li>
  <li class="list-group-item list-group-item-action">Json Web Token support</li>
  <li class="list-group-item list-group-item-action">Node emailing with nodemailer</li>
</ul>